@media screen and (max-width: 767px){
    .gallery-list{
        text-align: center;
    }
    .gallery-item{
        float: none;
    }
    .top-section{
        height:232px;
    }
    .top-section.inner{
        height:70px;
    }
    .menu-container.on-top{
        top: 0;
    }
    .header{
        padding-top: 70px;
    }
    .header .aya{
        position: relative;
        width: 100%;
        top: auto;
        margin: 15px 0;
    }
    .search-container{
        float: none;
        width: 100%;
    }
    .slider .slide-item{
        height:200px;
        height:auto;
    }
    .slider .slide-item img{
        max-height:200px;
    }
    .menu-container.on-top{
        top: 0;
    }
    .menu-container .menu{
        overflow: scroll;
        position: fixed;
        background: #fff;
        width: 70%;
        height:100%;
        left: -70%;
        top: 0;
        z-index:11;
        padding-top: 120px;

        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
    }
    .menu-container .menu.open{
        left: 0;
    }
    .menu-container .menu::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #23679b url("../images/name.png") no-repeat center;
        background-size: auto 60px;
        height: 100px;
        width: 100%;
    }
    .menu-container .menu>ul{
        margin: 0 0 30px;
        height:auto;
        width: 100%;
    }
    .menu-container .menu>ul>li{
        float: none;
        margin-left: 0;
        height:auto;
    }
    .menu-container .menu>ul>li>a{
        line-height:20px;
        color: #323232;
        padding: 10px 15px;
        font-size: 13px;
    }
    .menu-container .menu >ul>li >a::before{
        width: 3px;
        height:100%;
        border-radius: 3px 0 0 3px;
    }
}
@media screen and (max-width: 767px){
    .vertical-slider{
        background-color: #fff;
        height: 37px;
        line-height: 37px;
        padding: 0 15px;
        font-size:12px;
    }
    .gallery-list{
        text-align: center;
    }
    .gallery-item{
        float: none;
    }
    .top-section{
        height:232px;
    }
    .top-section.inner{
        height:70px;
    }
    .search-container{
        float: none;
        width: 100%;
    }
    .slider .slide-item{
        height:200px;
        height:auto;
    }
    .slider .slide-item img{
        max-height:200px;
    }

    .about-section,
    .services-section{
        padding: 30px 0;
    }
    .video-gallery-section h2,
    .about-section h2,
    .services-section h2{
        margin-bottom: 30px;
    }
    .about-item{
        margin-bottom: 15px;
    }
    .service-item img{
        max-height:250px;
    }
    .service-item{
        margin-bottom: 15px;
    }
    .video-section .title-container,
    .video-section .video-container{
        width: 100%;
        height:auto;
        float: none;
    }
    .video-section .video-container video{
        height:250px;
    }
    .video-section .title-container{
        padding: 0;
    }
    .video-section .title-container h2{
        float: none;
        margin: 30px 0;
        text-align: center;
        font-size: 25px;
    }
    .prayer-time-section img{
        float: none;
        margin: 0 auto;
        display: block;
    }
    .prayer-time-section h3{
        float: none;
        margin: 20px auto 50px;
        text-align: center;
    }
    .prayer-time-section .times{
        float: none;
        margin: 0;
        width: 100%;
    }
    .prayer-time-section .times li{
        float: none;
        margin: 0 0 30px;
        text-align: center;
        width: 100%;
    }
    .bottom-section{
        padding: 30px 0;
    }
    .bottom-section .info-container,
    .bottom-section .form-container{
        float: none;
        width: 100%;
        padding: 0;
        border:none;
    }
    .bottom-section .form-container .form-row{
        margin: 0;
    }
    .bottom-section .form-container .form-row .col-xs-12{
        margin-bottom: 30px;
    }
    .bottom-section .form-container .captcha input{
        width: calc(100% - 154px);
    }
    .footer-section{
        padding: 30px 0;
    }
    .footer-section .footer-block{
        display: block;
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
    }
    .footer-section .pull-left,
    .footer-section .pull-right{
        float: none !important;
        text-align: center;
        height:35px;
    }
    .footer-section .pull-right{
        margin-bottom: 15px;
    }
    .context{
        padding: 30px 0;
    }
    .menu-container .menu >ul>li >a::before{
        width: 3px;
        height:100%;
        border-radius: 3px 0 0 3px;
    }
    .menu-container .dropdown-menu{
        position: relative;
        width: 100%;
        min-width: 100%;
        top: auto;
        left: auto;
        bottom: auto;
        right: auto;
        margin: 0;
        border-left: none;
        border-right: none;
        float: none;
        border-radius: 0;
        box-shadow: none;
        background: #f5f5f5;
    }
    .menu-container .dropdown-menu>li>a{
        padding:10px 20px;
    }
    .video-gallery-section{
        padding: 30px 0;
    }
    .video-gallery-section h2{
        margin-top: 0;
    }
    .video-gallery-section .gallery-nav{
        white-space: nowrap;
        overflow: scroll;
    }
    .video-gallery-section .gallery-nav.nav-pills>li+li{
        display: inline-block;
        float: none;
    }
    .video-list .embed-code iframe{
        height: 200px;
    }
    .video-list.owl-theme .owl-dots .owl-dot span{
        height: 5px;
    }
    .video-list.owl-theme .owl-dots .owl-dot.active span{
        width: 25px;
        background: #337ab7;
    }
}
@media (min-width: 768px) and (max-width: 991px){}
@media (min-width: 992px) and (max-width: 1200px){}
@media (min-width: 1200px){}